/* Importando Fonte
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

/* Setando variaveis de cor
----------------------------*/
:root {
    --primary: #fff;
    --secondary: #ffffff;
    --primaryBg: #5C0B00;
    --secondaryBg: #6e0f02;

    --inputShadow: #0000001c;
    --inputHover: #eeeeee75;
    --inputLabel: #000000c0;
    --inputPlaceHolder: #000000be;
}

/* Formatações Gerais
----------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Signika", sans-serif;
}

/* Formatando o Background
---------------------------*/
.background-container {
    background-image: url(/assets/images/Hippo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* Formatando lado esquerdo da página
--------------------------------------*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary);
    width: 40vw;
    height: 100vh;
}

/* Textos do topo do formulário
--------------------------------*/
.form-text {
    width: 75%;
    margin: 50px 0 10px 30px;
}

.form-container h1 {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 3px;
}

.form-text p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
}

/* Inputs
----------*/
.input-group,
.input-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-box input{
    margin: 0.2rem 0;
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--primaryBg);
    border-radius: 5px;
    box-shadow: 1px 1px 6px var(--inputShadow);
}

.input-box input:hover {
    background-color: var(--inputHover);
}

.input-box input:focus-visible {
    outline: 1px solid var(--primaryBg);
}

.input-box label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--inputLabel);
}

.input-box input::placeholder {
    color: var(--inputPlaceHolder);
    font-size: 0.95rem;
}

.login-button button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: var(--primaryBg);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: var(--secondaryBg);
}

.login-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--primary);
}